* {
  box-sizing: border-box;
}

body {
  background-color: rgb(181, 181, 181);
  margin: 0;
}

.header-container {
  display: flex;
  flex-direction: row;
  background-color: rgb(163, 156, 250);
  height: 50px;
  justify-content: space-between;
}

#logoHeaderContainer {
  padding: 2px;
  margin-left: 5px;
}

/* Combine selectors */
#logoHeaderContainer img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.navigation-container {
  margin-top: 10px;
}

a {
  padding-right: 30px;
  font-size: large;
  color: rgb(0, 0, 0);
  text-decoration: overline;
}

/* Interesting function :) */
a:hover {
  color: aqua;
}

h1 {
  font-size: x-large;
}

h2 {
  font-size: large;
}

#btn-ansök {
  background-color: rgb(127, 255, 251);
  border: 2px solid rgb(68, 0, 255);
  border-radius: 18%;
  margin: 10px;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: bisque;
  text-align: center;
}

.information-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  clear: both;
  background-color: rgb(191, 255, 255);
}

#imgChas {
  float: left;
  width: 300px;
  height: 300px;
  border-radius: 20%;
  padding: 40px;
}

#informationText {
  float: right;
  margin-top: 45px;
}

span {
  font: xx-large bold black;
}

.recommendation-container {
  display: flex;
  flex-direction: column;
  background-color: burlywood;
  margin: auto;
}

#recommendationHeader {
  text-align: center;
  font-size: x-large;
}

#boxesContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 50px;
}

.boxes {
  width: 200px;
  height: 200px;
  background-color: rgb(243, 255, 255);
  border: 2px solid black;
}

.callToAction-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: rgb(252, 217, 165);
  font: x-large bold black;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  background-color: rgb(39, 212, 255);
}

#logoFooterContainer {
  display: flex;
  align-items: last baseline;
}

/* Combine selectors */
#logoFooterContainer div {
  padding: 10px;
}

/* Combine selectors */
#logoFooterContainer div img {
  width: 30px;
  height: 30px;
  border-radius: 25%;
}
